<div id="footer" class="footer">
    <div class="social-links-mobile">
        <a href="https://github.com/AlexZeiser" id="img-github-mobile" target="_blank"></a>
        <a href="mailto:kontakt@alex-zeiser-developer.de" id="img-email-mobile"></a>
    </div>

    <div class="footer-left">
        <span class="logo-name" (click)="navigateToHeader()">&lt; AZ &gt;</span>
        <div id="scroll-up-text" class="scroll-up-text">Scroll up</div>
    </div>

    <div class="footer-middle">
        <div class="footer-content">
            <span id="footer-content-job">{{'frontend_developer' | translate}}</span>
            <span dir="footer-content-job-span">Alex Zeiser 2024</span>
            <div class="social-links">
                <a href="https://github.com/AlexZeiser" id="img-github" target="_blank"></a>
                <a href="mailto:kontakt@alex-zeiser-developer.de" id="img-email"></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-menusystem-buttons">
            <a routerLink="/privacy-policy" id="legal-notice-link" *ngIf="isVisible"
                (click)="setActiveFooterButton('legal-notice-btn', '/privacy-policy')">
                {{ 'legal_notice' | translate }}
            </a>
            <a routerLink="/imprint" id="impressum-link" *ngIf="isVisible"
                (click)="setActiveFooterButton('impressum-btn', '/imprint')">
                {{ 'impressum' | translate }}
            </a>
        </div>
    </div>

</div>