<div id="footer" class="footer">
    <div class="footer-left">
        <span (click)="navigateToHeader()">&lt; AZ &gt;</span>
    </div>
    <div class="footer-middle">
        <div class="footer-content">
            <span id="footer-content-job">Frontend developer</span>
            <span>&#169;&nbsp;&nbsp;Alex&nbsp;&nbsp; Zeiser&nbsp;&nbsp; 2024</span>
            <div class="social-links">
                <a href="https://github.com/AlexZeiser" id="img-github" target="_blank">
                </a>
                <a href="mailto:alex.zeiser.rest@gmail.com" id="img-email">
                </a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-menusystem-buttons">
            <button id="legal-notice-btn" 
                    [class.active]="activeFooterButton === 'legal-notice-btn'" 
                    (click)="setActiveFooterButton('legal-notice-btn')">Legal notice</button>
            <button id="impressum-btn" 
                    [class.active]="activeFooterButton === 'impressum-btn'" 
                    (click)="setActiveFooterButton('impressum-btn')">Impressum</button>
        </div>
    </div>
</div>
