@media screen and (max-width: 1860px) {
    .footer {
        margin-left: 233px;
        margin-right: 233px;
    }
}

@media screen and (max-width: 1760px) {
    .footer {
        margin-left: 133px;
        margin-right: 133px;
    }
}

@media screen and (max-width: 1560px) {
    .footer {
        margin-left: 33px;
        margin-right: 33px;
    }
}

@media screen and (max-width: 1400px) {

    .footer-content {
        justify-content: center;

        #footer-content-job {
            display: none !important;
        }
    }

    .footer-left {
        align-self: center;
        padding-bottom: 20px;
    }

    .social-links {
        display: none;
    }

    .social-links-mobile {
        display: flex !important;
        gap: 100px;
        padding-bottom: 50px;
    }

    .footer-menusystem-buttons {
        padding-left: 0px;
        flex-direction: column;
        text-align: center;
    }

    .footer-middle {
        padding-bottom: 40px;
    }

    .footer {
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .footer-bottom {
        margin-top: 0px;
    }

    .footer-menusystem-buttons {
        padding-left: 0px;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 700px) {

    .social-links-mobile {
        padding-bottom: 50px;
    }
}