<div id="my-projects-section-div">
    <div id="my-projects-section">{{'my_projects' | translate }}</div>
</div>
<div class="my-projects-section">
    <div class="my-projects-section-image-div">
        <img src="./../../assets/img/join-icon.svg" alt="">
        <div class="my-projects-section-buttons-mobile" style="display: none;">
            <button class="github-btn-mobile" id="github-btn-mobile">
                <a href="https://github.com/" target="_blank">GitHub</a>
            </button>
            <button class="livetest-btn-mobile" id="livetest-btn-mobile">
                <a href="https://join-155.developerakademie.net/" target="_blank">Live Test</a>
            </button>
        </div>
    </div>
    <div class="my-projects-section-infos-div">
        <div class="my-projects-section-title">
            <span>Join</span>
        </div>
        <div class="my-projects-section-skills">
            <div class="skills join-skills" id="join-angular">
                Angular
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills join-skills" id="join-typescript">
                TypeScript
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills join-skills" id="join-html">
                HTML
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills join-skills" id="join-css">
                CSS
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills join-skills" id="join-firebase">
                Firebase
            </div>
        </div>
        <div class="my-projects-section-text">
            <span>
                {{'task_manager_description' | translate }}
            </span>
        </div>
        <div class="my-projects-section-buttons">
            <button class="github-btn" id="github-btn">
                <a href="https://github.com/" target="_blank">GitHub</a>
            </button>
            <button class="livetest-btn" id="livetest-btn">
                <a href="https://join-155.developerakademie.net/" target="_blank">Live Test</a>
            </button>
        </div>
    </div>
</div>