.my-projects-section {
    display: flex;
    justify-content: space-between;
    margin-left: 333px;
    margin-right: 333px;
    margin-top: 100px;
}

#my-projects-section {
    font-size: 54px;
    font-weight: 500;
    line-height: 64.8px;
    color: #E15544;
}

#my-projects-section-div {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.my-projects-section-image-div {
    img {
        width: 588px;
        height: 381px;
    }
}

.my-projects-section-title {
    span {
        font-size: 48px;
        font-weight: 700;
        line-height: 57.6px;
        color: #02F4BF;
    }
}

.my-projects-section-skills {
    display: flex;
    align-items: center;
    gap: 20px;

    .skills {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        color: #02F4BF;
    }

}

.my-projects-section-text {
    span {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        color: #02F4BF;
    }
}

.my-projects-section-infos-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.my-projects-section-buttons {
    display: flex;
    gap: 24px;

    #github-btn a {
        width: 125px;
        height: 52px;
        border: solid 1px #02F4BF;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
        color: #E15544;
        cursor: pointer;
    }

    #livetest-btn a {
        width: 158px;
        height: 52px;
        padding: 15px 30px;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
        background-color: #02F4BF;
        color: #0B042D;
        cursor: pointer;
    }

    .github-btn a {
        &:hover {
            transition: color 0.3s ease-in-out !important;
            color: #02F4BF !important;
        }
    }

    .livetest-btn a {
        &:hover {
            transition: color 0.3s ease-in-out !important;
            color: #E15544 !important;
        }
    }

    .my-projects-section-buttons-mobile {
        display: none;
    }
}

/* mobile */
@media screen and (max-width: 2260px) {
    .my-projects-section {
        gap: 40px;
    }
}

@media screen and (max-width: 1860px) {
    .my-projects-section {
        margin-left: 233px;
        margin-right: 233px;
    }
}

@media screen and (max-width: 1760px) {
    .my-projects-section {
        margin-left: 133px;
        margin-right: 133px;
    }
}

@media screen and (max-width: 1560px) {
    .my-projects-section {
        margin-left: 33px;
        margin-right: 33px;
    }
}

@media screen and (max-width: 1400px) {
    #my-projects-section-div {
        margin-top: 50px;
    }

    .my-projects-section {
        align-items: center;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .my-projects-section-title {
        text-align: center;
    }

    .my-projects-section-skills {
        justify-content: center;

        .skills {
            font-size: 18px;
            font-weight: 400;
            line-height: 25.2px;
            color: #02F4BF;
        }
    }

    .my-projects-section-text {
        text-align: center;
        padding-bottom: 20px;
    }

    .my-projects-section-buttons {
        display: none !important;
    }

    .my-projects-section-buttons-mobile {
        display: flex !important;
        justify-content: center;
        gap: 24px;
        padding-top: 20px;

        #github-btn-mobile a {
            width: 125px;
            height: 52px;
            border: solid 1px #02F4BF;
            padding: 15px 30px;
            font-size: 18px;
            font-weight: 500;
            line-height: 21.6px;
            color: #E15544;
            cursor: pointer;
        }

        #livetest-btn-mobile a {
            width: 158px;
            height: 52px;
            padding: 15px 30px;
            font-size: 18px;
            font-weight: 500;
            line-height: 21.6px;
            background-color: #02F4BF;
            color: #0B042D;
            cursor: pointer;
        }

        .github-btn-mobile a {
            &:hover {
                transition: color 0.3s ease-in-out !important;
                color: #02F4BF !important;
            }
        }

        .livetest-btn-mobile a {
            &:hover {
                transition: color 0.3s ease-in-out !important;
                color: #E15544 !important;
            }
        }
    }

    @media screen and (max-width: 660px) {
        .my-projects-section-image-div {
            img {
                width: 488px;
                height: auto;
            }
        }

        .my-projects-section-skills {
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width: 560px) {
        .my-projects-section-image-div {
            img {
                width: 438px;
            }
        }
    }

    @media screen and (max-width: 500px) {
        .my-projects-section-image-div {
            img {
                width: 388px;
            }
        }

        #my-projects-section {
            font-size: 30px;
            line-height: 0px;
            gap: 0px;
        }

        .my-projects-section {
            gap: 0px;
        }

        .my-projects-section-title span {
            font-size: 24px;
            line-height: 0px;
        }

        .my-projects-section-infos-div {
            gap: 8px;
        }

        .my-projects-section-buttons-mobile {

            #github-btn-mobile a {
                font-size: 16px;
            }

            #livetest-btn-mobile a {
                font-size: 16px;
            }
        }

    }


    @media screen and (max-width: 450px) {
        .my-projects-section-image-div {
            img {
                width: 338px;
                height: auto;
            }
        }
    }

    @media screen and (max-width: 400px) {
        .my-projects-section-image-div {
            img {
                width: 288px;
            }
        }
    }

}