<div id="my-projects-section-div" data-aos="fade-up">
    <div id="my-projects-section">{{'my_projects' | translate }}</div>
</div>
<div class="my-projects-section">
    <div class="my-projects-section-image-div" data-aos="zoom-out" data-aos-offset="250">
        <img src="./../../assets/img/join.app.png" alt="">
        <div class="my-projects-section-buttons-mobile" style="display: none;">
            <button class="github-btn-mobile" id="github-btn-mobile">
                <a href="https://github.com/AlexZeiser/join" target="_blank">GitHub</a>
            </button>
            <button class="livetest-btn-mobile" id="livetest-btn-mobile">
                <a href="https://join.alex-zeiser-developer.de/" target="_blank">Live Test</a>
            </button>
        </div>
    </div>
    <div class="my-projects-section-infos-div" data-aos="zoom-out" data-aos-offset="250">
        <div class="my-projects-section-title">
            <span>Join</span>
        </div>
        <div class="my-projects-section-skills">
            <div class="skills">
                JavaScript
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills">
                HTML
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills">
                CSS
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills">
                Firebase
            </div>
        </div>
        <div class="my-projects-section-text">
            <span>
                {{'task_manager_description' | translate }}
            </span>
        </div>
        <div class="my-projects-section-buttons">
            <button class="github-btn" id="github-btn">
                <a href="https://github.com/AlexZeiser/join" target="_blank">GitHub</a>
            </button>
            <button class="livetest-btn" id="livetest-btn">
                <a href="https://join.alex-zeiser-developer.de/" target="_blank">Live Test</a>
            </button>
        </div>
    </div>
</div>

<div class="my-projects-section my-projects-section-elpololoco">
    <div class="my-projects-section-image-div" data-aos="zoom-out" data-aos-offset="250">
        <img src="./../../assets/img/pollo-loco.app.png" alt="">
        <div class="my-projects-section-buttons-mobile" style="display: none;">
            <button class="github-btn-mobile" id="github-btn-mobile">
                <a href="https://github.com/AlexZeiser/elpololoco" target="_blank">GitHub</a>
            </button>
            <button class="livetest-btn-mobile" id="livetest-btn-mobile">
                <a href="https://elpolloloco.alex-zeiser-developer.de/" target="_blank">Live Test</a>
            </button>
        </div>
    </div>
    <div class="my-projects-section-infos-div" data-aos="zoom-out" data-aos-offset="250">
        <div class="my-projects-section-title">
            <span>El Polo Loco</span>
        </div>
        <div class="my-projects-section-skills">
            <div class="skills">
                JavaScript
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills">
                HTML
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills">
                CSS
            </div>
        </div>
        <div class="my-projects-section-text">
            <span>
                {{'task_manager_description' | translate }}
            </span>
        </div>
        <div class="my-projects-section-buttons">
            <button class="github-btn" id="github-btn">
                <a href="https://github.com/AlexZeiser/elpololoco" target="_blank">GitHub</a>
            </button>
            <button class="livetest-btn" id="livetest-btn">
                <a href="https://elpolloloco.alex-zeiser-developer.de/" target="_blank">Live Test</a>
            </button>
        </div>
    </div>
</div>
<div class="my-projects-section">
    <div class="my-projects-section-image-div" data-aos="zoom-out" data-aos-offset="250">
        <img src="./../../assets/img/shop.app.png" alt="">
        <div class="my-projects-section-buttons-mobile" style="display: none;">
            <button class="github-btn-mobile" id="github-btn-mobile">
                <a href="https://github.com/AlexZeiser/online-shop/tree/main/online-shop" target="_blank">GitHub</a>
            </button>
            <button class="livetest-btn-mobile" id="livetest-btn-mobile">
                <a href="https://fruitsshop.alex-zeiser-developer.de/" target="_blank">Live Test</a>
            </button>
        </div>
    </div>
    <div class="my-projects-section-infos-div" data-aos="zoom-out" data-aos-offset="250">
        <div class="my-projects-section-title">
            <span>Eat Fruits - Be Happy</span>
        </div>
        <div class="my-projects-section-skills">
            <div class="skills">React</div>
            <div class="skills">|</div>
            <div class="skills">JavaScript (ES6)</div>
            <div class="skills">|</div>
            <div class="skills">HTML</div>
            <div class="skills">|</div>
            <div class="skills">SCSS</div>
        </div>
        <div class="my-projects-section-text">
            <span>{{'fruits_shop_description' | translate }}</span>
        </div>
        <div class="my-projects-section-buttons">
            <button class="github-btn" id="github-btn">
                <a href="https://github.com/AlexZeiser/online-shop/tree/main/online-shop" target="_blank">GitHub</a>
            </button>
            <button class="livetest-btn" id="livetest-btn">
                <a href="https://fruitsshop.alex-zeiser-developer.de/" target="_blank">Live Test</a>
            </button>
        </div>
    </div>
</div>