<div id="my-projects-section-div">
    <div id="my-projects-section">My Projects</div>
</div>
<div class="my-projects-section">
    <div class="my-projects-section-image-div">
        <img src="./../../assets/img/join-icon.svg" alt="">
    </div>
    <div class="my-projects-section-infos-div">
        <div class="my-projects-section-title">
            <span>Join</span>
        </div>
        <div class="my-projects-section-skills">
            <div class="skills join-skills" id="join-angular">
                Angular
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills join-skills" id="join-typescript">
                TypeScript
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills join-skills" id="join-html">
                HTML
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills join-skills" id="join-css">
                CSS
            </div>
            <div class="skills">
                |
            </div>
            <div class="skills join-skills" id="join-firebase">
                Firebase
            </div>
        </div>
        <div class="my-projects-section-text">
            <span>
                Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                assign users and categories.
            </span>
        </div>
        <div class="my-projects-section-buttons">
            <button class="github-btn" id="github-btn">
                GitHub
            </button>
            <button class="livetest-btn" id="livetest-btn">
                Live Test
            </button>
        </div>
    </div>
</div>