input[type=text],
input[type=email],
select,
textarea {
    padding: 12px;
    border: none;
    font-size: 18px;
    color: #02F4BF;

    &::placeholder {
        font-size: 18px;
        font-weight: 400;
        line-height: 25.2px;
        color: #02F4BF;
    }

    &:focus {
        border-color: #02F4BF;
        outline: none;
    }
}

#phone-icon-mobile {
    background-image: url('./../../assets/img/icon_phone.svg');
}

#mail-icon-mobile {
    background-image: url('./../../assets/img/icon_email.svg');
}

.contact-me-container {
    margin-top: 100px;
    margin-left: 333px;
    margin-right: 333px;
}

form {
    display: flex;
    gap: 40px;
    flex-direction: column;
    font-size: 14px;
}

.form-name-email-message {
    display: flex;
    gap: 40px;
}

#message {
    height: 174px !important;
    width: 100%;
}

.border-form-inputs {
    border: 1.5px solid #02F4BF;
}

.form-name-email {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .form-field {
        position: relative;

        input {
            width: 100%;
        }

        .error-img,
        .success-img {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            display: none;
        }

        .error-img {
            display: none;
        }

        .success-img {
            display: none;
        }

        input.error+.error-img {
            display: block;
        }

        input:not(.error)+.success-img {
            display: block;
        }
    }
}



.contact-me-section-arrow {
    cursor: pointer;
}

.form-message {
    width: 100%;
    display: flex;
    flex: 1;
    position: relative;

    span {
        color: #E15544;
    }

    textarea {
        flex-grow: 1;
        padding-right: 40px;
    }

    .error-img,
    .success-img {
        position: absolute;
        right: 10px;
        bottom: 140px;
    }

    .success-img {
        display: none;
    }

    .success-img.visible {
        display: flex;
    }

    textarea.error+.error-img {
        display: block;
    }
}

#name,
#email {
    height: 56px;
    width: 507px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #45a049;
    }
}

.container {
    border-radius: 5px;
}

h2 {
    font-weight: 500;
    font-size: 54px;
    line-height: 64.8px;
    color: #E15544;
}

.email-div {
    display: flex;
}

.phone-div {
    display: flex;
}

.phone-div-mobile {
    display: flex;
}

.email-div-mobile {
    display: flex;
}

.privacy-policy-require-color {
    span {
        color: #E15544;
    }
}

.headline {
    display: flex;
    width: 425.05px;
    height: 72.21px;
    gap: 20px;
}

.headline-info {
    display: flex;
    gap: 70px;
    padding-bottom: 20px;
}

.headline-info-other {
    width: 70%;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.headline-info-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    color: #02F4BF;
    width: 507px;
}

.headline-info-mail-phone {
    display: flex;
    vertical-align: middle;
    justify-content: flex-start;
    flex-direction: column;

    img {
        vertical-align: middle;
        width: 23.67px;
        height: 20px;
    }

    span {
        vertical-align: middle;
    }
}

#phone-icon,
#mail-icon,
#phone-icon-mobile,
#mail-icon-mobile {
    background-size: cover;
    background-repeat: no-repeat;
}

#phone-icon {
    background-image: url('./../../assets/img/icon_phone.svg');
}

#mail-icon {
    background-image: url('./../../assets/img/icon_email.svg');
}

.phone-mail,
.phone-mail-mobile {
    width: 24px;
    height: 24px;
}

.phone-div:hover #phone-icon {
    background-image: url('./../../assets/img/icon_phone_other.svg');
}

@import './contact-me-section.component.second.scss';

@import './contact-me-section.component.media.scss';