<div id="contact-me-container" class="contact-me-container">
    <div class="contact-me-container-infos">
        <div class="headline">
            <h2>{{'contact_me' | translate }}</h2>
            <img src="./../../assets/img/Arrow.svg" alt="">
        </div>
        <div class="headline-info">
            <div class="headline-info-text">
                {{'still_not_sure' | translate }}
            </div>
            <div class="headline-info-other">
                <div class="headline-info-mail-phone">
                    <div class="email-div">
                        <div class="phone-mail" id="mail-icon"></div>
                        <span class="headline-infos-mailPhone" id="headline-info-mail">
                            E-mail:&nbsp; <a href="mailto:alex.zeiser.rest@gmail.com">alex.zeiser.rest(at)gmail.com</a>
                        </span>
                    </div>
                    <br>
                    <div class="phone-div">
                        <div class="phone-mail" id="phone-icon"></div>
                        <span class="headline-infos-mailPhone" id="headline-info-phone">
                            Tel:&nbsp; <a href="tel:+4917622695088">0176 22695088</a>
                        </span>
                    </div>
                </div>
                <div id="contact-me-section-arrow" class="contact-me-section-arrow">
                    <div id="contact-me-section-arrow-div" (click)="navigateToHeader()">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="form-name-email-message">
                <div class="form-name-email">
                    <input [(ngModel)]="contactData.name" type="text" id="name" name="name" [placeholder]="contactForm.controls['name']?.touched && contactForm.controls['name']?.invalid 
                                        ? ('yourNameRequired' | translate) 
                                        : ('yourName' | translate)"
                        [ngClass]="{'error': contactForm.controls['name']?.touched && contactForm.controls['name']?.invalid}"
                        required>

                    <input [(ngModel)]="contactData.email" type="email" id="email" name="email" [placeholder]="contactForm.controls['email']?.touched && contactForm.controls['email']?.invalid
                                        ? ('yourEmailRequired' | translate) 
                                        : ('yourEmail' | translate)"
                        [ngClass]="{'error': contactForm.controls['email']?.touched && contactForm.controls['email']?.invalid}"
                        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
                </div>
                <div class="form-message">
                    <textarea [(ngModel)]="contactData.message" id="message" name="message" (input)="onMessageInput()"
                        [placeholder]="contactForm.controls['message']?.touched && contactForm.controls['message']?.invalid
                                                                ? ('yourMessageRequired' | translate) 
                                                                : ('yourMessage' | translate)"
                        [ngClass]="{'error': contactForm.controls['message']?.touched && contactForm.controls['message']?.invalid}"
                        minlength="10" required #messageInput>
                    </textarea>

                    <img *ngIf="contactForm.controls['message']?.touched && contactForm.controls['message']?.invalid"
                        src="./../../assets/img/icon_required.svg" class="error-img" alt="Error Image" #errorImg>
                    <img src="./../../assets/img/icon_done.svg" class="success-img"
                        [ngClass]="{'visible': contactData.message.trim().length >= 10}" alt="Success Image"
                        #successImg>
                </div>
            </div>
            <div class="form-checkbox-button">
                <div class="form-checkbox">
                    <input type="checkbox" id="privacyPolicy" name="privacyPolicy"
                        [(ngModel)]="contactData.privacyPolicy" required>
                    <label for="privacyPolicy">
                        <div id="i-read">{{ 'privacy_policy_read' | translate }}
                            <span id="privacy">{{ 'privacy_policy' | translate }}</span>{{ 'privacy_policy_agree' |
                            translate }}
                        </div>
                    </label>
                    <div *ngIf="contactForm.controls['privacyPolicy']?.dirty && !contactData.privacyPolicy"
                        class="error-message">
                        {{ 'privacyPolicyRequired' | translate }}
                    </div>

                </div>
                <div class="form-button">
                    <button [disabled]="!isFormValid(contactForm)" type="submit">{{ 'send' | translate }}</button>
                </div>
            </div>


            <div id="form-checkbox-button-image" class="form-checkbox-button-image" style="display: none;">
                <div id="form-checkbox-button-image-div" (click)="navigateToHeader()"></div>
            </div>
            <div class="headline-info-mail-phone-mobile" style="display: none;">
                <div class="email-div-mobile">
                    <div class="phone-mail-mobile" id="mail-icon-mobile"></div>
                    <span class="headline-infos-mailPhone-mobile" id="headline-info-mail-mobile">
                        E-mail:&nbsp; <a href="mailto:alex.zeiser.rest@gmail.com">alex.zeiser.rest(at)gmail.com</a>
                    </span>
                </div>
                <br>
                <div class="phone-div-mobile">
                    <div class="phone-mail-mobile" id="phone-icon-mobile"></div>
                    <span class="headline-infos-mailPhone-mobile" id="headline-info-phone-mobile">
                        Tel:&nbsp; <a href="tel:+4917622695088">0176 22695088</a>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>