<div class="hero-section">
    <div class="hero-section-infos">
        <div class="hero-section-contact-arrow">
            <div class="hero-section-contact-me-button">
                <button (click)="navigateToContactMe()">{{'contact' | translate }}&nbsp;&nbsp;&nbsp;&nbsp;{{'me' |
                    translate }}</button>
            </div>
        </div>

        <div class="hero-section-name-job">
            <span class="hero-section-job">{{'frontend_developer' | translate }}</span>
            <span class="hero-section-name">Alex Zeiser</span>
        </div>
    </div>
    <div class="hero-section-arrow">
        <div id="hero-section-arrow-div" (click)="navigateToWhyMe()">

        </div>
    </div>
    <div class="hero-section-image">
        <img src="./../../assets/img/avatar.png" alt="Avatar">
    </div>
</div>