<div class="hero-section">
    <div class="hero-section-infos">
        <div class="hero-section-contact-arrow">
            <div class="hero-section-contact-me-button" data-aos="zoom-out-left" data-aos-delay="450">
                <button (click)="navigateToContactMe()">{{'contact' | translate }}&nbsp;&nbsp;&nbsp;&nbsp;{{'me' |
                    translate }}</button>
            </div>
        </div>

        <div class="hero-section-name-job" data-aos="zoom-in-right" data-aos-delay="550">
            <span class="hero-section-job">{{'frontend_developer' | translate }}</span>
            <span class="hero-section-name">Alex Zeiser</span>
        </div>
    </div>
    <div class="hero-section-arrow">
        <div id="hero-section-arrow-div" data-aos="zoom-out-left" data-aos-delay="600" (click)="navigateToWhyMe()">

        </div>
    </div>
    <div class="hero-section-image" data-aos="zoom-in-left" data-aos-delay="750">
        <img src="./../../assets/img/portfolio-image-top.png" alt="Avatar">
    </div>
</div>