.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 333px;
    margin-right: 333px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100px;
    z-index: 1000;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    span {
        font-size: 34px;
        line-height: 34px;
        font-weight: 400;
        color: #E15544;
        cursor: pointer;
    }
}

.menusystem {
    display: flex;
    gap: 32px;

    button {
        color: #E15544;
        font-size: 23px;
        line-height: 26.4px;
        font-weight: 500;
        cursor: pointer;
        border: none;
    }
}

.menusystem button {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #E15544;
  
    &:hover {
      color: #02F4BF;
    }
  
    &.active {
      color: #02F4BF;
      border-bottom: 2px solid #02F4BF;
    }
  }
  


#change-language-german {
    &:hover {
        color: #02F4BF;
    }
}

#change-language-english {
    &:hover {
        color: #02F4BF;
    }
}

.change-language-div {
    display: flex;
}

.change-language {
    display: flex;
    gap: 6px;

    #change-language-german {
        cursor: pointer;
    }

    #change-language-english {
        cursor: pointer;
    }

    span {
        display: flex;
        color: #E15544;
        font-size: 18px;
        line-height: 25.2px;
        font-weight: 700;
        border: none;
    }
}