h1,
h2,
h3,
h4 {
    font-weight: 500;
    line-height: 64.8px;
    color: #E15544;
}

p,
li {
    font-size: 20px;
    font-weight: 500;
    color: #02F4BF;
    padding-bottom: 16px;

    a {
        font-size: 30px;
        font-weight: 500;
        color: #E15544;
        transition: transform 0.3s ease, color 0.3s ease, padding 0.3s ease, border 0.3s ease;
        text-decoration: none;

        &:hover {
            transform: scale(1.1);
            color: #02F4BF;
            padding: 8px;
            border-radius: 10px;
            border: solid 1px #E15544;
        }
    }

    span {
        color: #02F4BF;
    }

    strong {
        color: #E15544;
    }
}

.contactBorder {
    padding: 8px;
    border-radius: 10px;
    border: solid 1px #E15544;
}

.privacy-policy-content {
    margin-left: 333px;
    margin-right: 333px;
    min-height: 100vh;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
}

@import './privacy-policy.component.media.scss';