h1,
h2,
h3,
h4 {
    font-weight: 500;
    line-height: 64.8px;
    color: var(--secondary-text-color);
}

p,
li {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
    padding-bottom: 16px;

    a {
        font-size: 30px;
        font-weight: 500;
        color: var(--secondary-text-color);
        transition: transform 0.125s ease, color 0.125s ease, padding 0.125s ease, border 0.125s ease;
        text-decoration: none;

        &:hover {
            transform: scale(1.1);
            color: var(--text-color);
            padding: 8px;
            border-radius: 10px;
            border: solid 1px var(--secondary-text-color);
        }
    }

    span {
        color: var(--text-color);
    }

    strong {
        color: var(--secondary-text-color);
    }
}

.contactBorder {
    padding: 8px;
    border-radius: 10px;
    border: solid 1px var(--secondary-text-color);
}

.privacy-policy-content {
    margin-left: 333px;
    margin-right: 333px;
    min-height: 100vh;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
}

.back-button {
    margin-left: 333px;
    margin-right: 333px;
    margin-top: 20px;
    display: inline-block;
    font-weight: 500;
    color: var(--secondary-text-color);
    cursor: url('./../../assets/img/icons8-hand-cursor-50.png'), auto;
    transition: transform 0.125s ease, color 0.125s ease, padding 0.125s ease, border 0.125s ease;
    text-decoration: none;
    padding: 4px 20px;
    border-radius: 10px;
    border: solid 1px var(--secondary-text-color);

    span {
        cursor: url('./../../assets/img/icons8-hand-cursor-50.png'), auto;

        svg {
            cursor: url('./../../assets/img/icons8-hand-cursor-50.png'), auto;
        }
    }

    &:hover {
        transform: scale(1.1);
        color: var(--text-color);
        padding: 4px 20px;
        border-radius: 10px;
        border-color: var(--secondary-text-color);
    }
}

@import './privacy-policy.component.media.scss';