<div class="back-button" (click)="goBack()">
    <span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 18l-6-6 6-6" stroke="var(--secondary-text-color)" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg></span>
</div>
<div class="privacy-policy-content">
    <h1>{{ 'privacy_policy_header' | translate }}</h1>
    <h2>{{ 'privacy_policy_section_1_title' | translate }}</h2>
    <h3>{{ 'privacy_policy_section_1_general_notes' | translate }}</h3>
    <p>{{ 'privacy_policy_section_1_general_notes_text' | translate }}</p>
    <h3>{{ 'privacy_policy_section_1_data_collection' | translate }}</h3>
    <h4>{{ 'privacy_policy_section_1_data_collection_responsibility' | translate }}</h4>
    <p>{{ 'privacy_policy_section_1_data_collection_responsibility_text' | translate }}</p>
    <h4>{{ 'privacy_policy_section_1_data_collection_method' | translate }}</h4>
    <p>{{ 'privacy_policy_section_1_data_collection_method_text_1' | translate }}</p>
    <p>{{ 'privacy_policy_section_1_data_collection_method_text_2' | translate }}</p>
    <h4>{{ 'privacy_policy_section_1_data_usage' | translate }}</h4>
    <p>{{ 'privacy_policy_section_1_data_usage_text' | translate }}</p>
    <h4>{{ 'privacy_policy_section_1_data_rights' | translate }}</h4>
    <p>{{ 'privacy_policy_section_1_data_rights_text' | translate }}</p>
    <p>{{ 'privacy_policy_section_1_data_rights_contact_text' | translate }}</p>
    <h2>{{ 'privacy_policy_section_2_title' | translate }}</h2>
    <p>{{ 'privacy_policy_section_2_text_1' | translate }}</p>
    <p><strong>All-Inkl</strong><br>
        {{'privacy_policy_section_2_text_2' | translate}}
        <a href="https://all-inkl.com/datenschutzinformationen/"
            target="_blank">https://all-inkl.com/datenschutzinformationen/
        </a>
    </p>
    <p>{{'privacy_policy_section_2_link_text' | translate}}</p>
    <h2>{{'privacy_policy_section_3_title' | translate}}</h2>
    <h3>{{'privacy_policy_section_3_data_protection'| translate}}</h3>
    <p>{{'privacy_policy_section_3_data_protection_text' | translate}}</p>
    <p>{{'privacy_policy_section_3_data_protection_details' | translate}}</p>
    <p>{{'privacy_policy_section_3_data_protection_internet' | translate}}</p>

    <h3>{{'privacy_policy_section_3_responsible_party-title'| translate}}</h3>
    <p>{{'privacy_policy_section_3_responsible_party_intro' | translate}}</p>
    <div class="contactBorder">
        <h2>{{ 'contactTitle' | translate }}</h2>
        <p>
            <span [innerHTML]="('phone' | translate)"></span><br />
            <span [innerHTML]="('email' | translate)"></span>
        </p>
    </div>
    <p>{{'privacy_policy_section_3_responsible_party_text' | translate}}.
    </p>
    <h3>{{'privacy_policy_section_3_storage_duration' | translate}}</h3>
    <p>{{'privacy_policy_section_3_storage_duration_text' | translate}}</p>
    <h3>{{'privacy_policy_text_1' | translate}}</h3>
    <p>{{'privacy_policy_text_2' | translate}}
    </p>
    <h3>{{'privacy_policy_text_3' | translate}}</h3>
    <p>{{'privacy_policy_text_4' | translate}}</p>
    <h3>{{'privacy_policy_text_5' | translate}}</h3>
    <p>{{'privacy_policy_text_6' | translate}}</p>
    <h3>{{'privacy_policy_text_7' | translate}}</h3>
    <p>{{'privacy_policy_text_8' | translate}}</p>
    <p>{{'privacy_policy_text_9' | translate}}</p>
    <h3>{{'privacy_policy_text_00' | translate}}</h3>
    <p>{{'privacy_policy_text_10' | translate}}</p>
    <h3>{{'privacy_policy_text_11' | translate}}</h3>
    <p>{{'privacy_policy_text_12' | translate}}</p>
    <h3>{{'privacy_policy_text_13' | translate}}</h3>
    <p>{{'privacy_policy_text_14' | translate}}</p>
    <h3>{{'privacy_policy_text_15' | translate}}</h3>
    <p>{{'privacy_policy_text_16' | translate}}
    </p>
    <ul>
        <li>{{'privacy_policy_text_17' | translate}}</li>
        <li>{{'privacy_policy_text_18' | translate}}</li>
        <li>{{'privacy_policy_text_19' | translate}}</li>
        <li>{{'privacy_policy_text_20' | translate}}</li>
    </ul>
    <p>{{'privacy_policy_text_21' | translate}}
    </p>
    <h3>{{'privacy_policy_text_22' | translate}}</h3>
    <p>{{'privacy_policy_text_23' | translate}}</p>
    <p>{{'privacy_policy_text_51' | translate}}</p>
    <h2>{{'privacy_policy_text_24' | translate}}</h2>
    <h3>{{'privacy_policy_text_40' | translate}}</h3>
    <p>{{'privacy_policy_text_41' | translate}}</p>
    <p>{{'privacy_policy_text_42' | translate}}</p>
    <p>{{'privacy_policy_text_43' | translate}}</p>
    <h3>{{'privacy_policy_text_44' | translate}}</h3>
    <p>{{'privacy_policy_text_45' | translate}}</p>
    <p>{{'privacy_policy_text_46' | translate}}</p>
    <p>{{'privacy_policy_text_47' | translate}}</p>
    <h2>{{'privacy_policy_text_48' | translate}}</h2>
    <h3>{{'privacy_policy_text_49' | translate}}</h3>
    <p>{{'privacy_policy_text_50' | translate}}</p>
    <p>{{'privacy_policy_text_52' | translate}}: <a href="https://www.e-recht24.de" target="_blank" rel="noopener">{{'privacy_policy_text_53' | translate}}</a></p>
</div>