@media screen and (max-width: 1860px) {
    .privacy-policy-content {
        margin-left: 233px;
        margin-right: 233px;
    }
    .back-button {
        margin-left: 233px;
        margin-right: 233px;
    }
}

@media screen and (max-width: 1760px) {
    .privacy-policy-content {
        margin-left: 133px;
        margin-right: 133px;
    }
    .back-button {
        margin-left: 133px;
        margin-right: 133px;
    }
}

@media screen and (max-width: 1560px) {
    .privacy-policy-content {
        margin-left: 33px;
        margin-right: 33px;
    }
    .back-button {
        margin-left: 33px;
        margin-right: 33px;
    }
}

@media screen and (max-width: 1000px) {
    p {
        font-size: 16px;
    }
}

@media screen and (max-width: 660px) {
    .back-button {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 20px;
        text-align: center;
    }

    h2 {
        font-size: 16px;
        text-align: center;
    }

    h3 {
        font-size: 14px;
        text-align: center;
    }

    h4 {
        font-size: 14px;
        text-align: center;
    }

    p {
        font-size: 12px;
        text-align: center;

        a {
            display: flex;
            flex-wrap: wrap;
            font-size: 12px;
            text-align: center;
        }
    }

    li {
        font-size: 14px;
        text-align: center;
    }

    .privacy-policy-content {
        margin-top: 0px;
    }    
}