@media screen and (max-width: 1860px) {
    .my-skills-section {
        margin-left: 233px;
        margin-right: 233px;
    }
}

@media screen and (max-width: 1760px) {
    .my-skills-section {
        margin-left: 133px;
        margin-right: 133px;
    }
}

@media screen and (max-width: 1560px) {
    .my-skills-section {
        margin-left: 33px;
        margin-right: 33px;
    }
}

@media screen and (max-width: 1400px) {


    .my-skills-undercontainer {
        width: calc(100% / 3);
    }

    .my-skills-section {
        text-align: center;
        margin-top: 50px;
        height: 55vh;
    }

    .my-skills-text-with-img {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        img {
            width: 24px;
            height: 96px;
        }

        span {
            color: #02F4BF;
        }

    }
}

@media screen and (max-width: 500px) {

    .my-skills-section {
        height: 50vh;
    }

    .my-skills-title {
        font-size: 30px;
    }

    .my-skills-undercontainer {
        img {
            width: 60px;
            height: 60px;
        }
    }

    .my-skills-section-talk-button {
        button {
            width: 175px;
            height: 48px;
            font-size: 16px;
        }
    }
}