<div id="my-skills-section" class="my-skills-section">
    <div class="my-skills-title">
        {{'my_skills' | translate }}
    </div>
    <div class="my-skills" data-aos="flip-down" data-aos-offset="500">
        <div class="my-skills-undercontainer angular-div">
            <img src="./../../assets/img/angular-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer typescript-div">
            <img src="./../../assets/img/typescript-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer javascript-div">
            <img src="./../../assets/img/javascript-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer html-div">
            <img src="./../../assets/img/html-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer css-div">
            <img src="./../../assets/img/css-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer rest-api-div">
            <img src="./../../assets/img/api-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer firebase-div">
            <img src="./../../assets/img/firebase-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer git-div">
            <img src="./../../assets/img/git-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer scrum-div">
            <img src="./../../assets/img/scrum-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer material-div">
            <img src="./../../assets/img/materialdesign-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer challenge-div">
            <img src="./../../assets/img/challenge-me-icon.svg" alt="">
        </div>
    </div>
    <div class="my-skills-text-with-img" style="display: none;">
        <img src="./../../assets/img/arrow_learn_new_tech.svg" alt="">
        <span>{{'mySkillTextMobile' | translate}}</span>
        <div class="my-skills-section-talk-button">
            <button (click)="navigateToContactMe()">{{'lets_talk' | translate }}</button>
        </div>
    </div>
</div>