<div id="my-skills-section" class="my-skills-section">
    <div class="my-skills-title">
        My Skills
    </div>
    <div class="my-skills">
        <div class="my-skills-undercontainer angular-div">
            <img src="./../../assets/img/angular-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer typescript-div">
            <img src="./../../assets/img/typescript-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer javascript-div">
            <img src="./../../assets/img/javascript-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer html-div">
            <img src="./../../assets/img/html-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer css-div">
            <img src="./../../assets/img/css-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer rest-api-div">
            <img src="./../../assets/img/api-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer firebase-div">
            <img src="./../../assets/img/firebase-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer git-div">
            <img src="./../../assets/img/git-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer scrum-div">
            <img src="./../../assets/img/scrum-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer material-div">
            <img src="./../../assets/img/materialdesign-icon.svg" alt="">
        </div>
        <div class="my-skills-undercontainer challenge-div">
            <img src="./../../assets/img/challenge-me-icon.svg" alt="">
        </div>
    </div>   
</div>