.my-skills-section {
    display: flex;
    flex-direction: column;
    margin-left: 333px;
    margin-right: 333px;
    gap: 20px;
    height: 35vh;
}

.my-skills-title {
    font-size: 54px;
    font-weight: 500;
    line-height: 64.8px;
    color: var(--secondary-text-color);
}

.my-skills {
    display: flex;
    flex-wrap: wrap;

    img {
        width: 100px;
        height: 100px;       
    }
}

.my-skills-undercontainer {
    width: calc(100% / 6);
}

.my-skills-section-talk-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        width: 200px;
        height: 65px;
        padding: 15px 30px;
        color: var(--fourth-text-color);
        background-color:var(--text-color);
        font-size: 15px;
        line-height: 21.6px;
        font-weight: 500;
        cursor: url('./../../assets/img/icons8-neuer-beitrag-50.png'), auto;
        
        border: none;

        &:hover {
            transition: color 0.125s ease-in-out;
            color: var(--secondary-text-color);
        }
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(0.95);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.my-skills img {
    cursor: url('./../../assets/img/skills-cursor-icon.png'), auto;
}

.angular-div:hover {
    animation: shake 0.5s ease-in-out;
}

.typescript-div:hover {
    animation: rotate 0.5s ease-in-out;
}

.javascript-div:hover {
    animation: scale 0.5s ease-in-out;
}

.html-div:hover {
    animation: shake 0.5s ease-in-out;
}

.css-div:hover {
    animation: rotate 0.5s ease-in-out;
}

.rest-api-div:hover {
    animation: scale 0.5s ease-in-out;
}

.firebase-div:hover {
    animation: shake 0.5s ease-in-out;
}

.git-div:hover {
    animation: rotate 0.5s ease-in-out;
}

.scrum-div:hover {
    animation: scale 0.5s ease-in-out;
}

.material-div:hover {
    animation: shake 0.5s ease-in-out;
}

.challenge-div:hover {
    animation: rotate 0.5s ease-in-out;
}

@import './my-skills-section.component.media.scss';