@media screen and (max-width: 1860px) {
    .back-button {
        margin-left: 233px;
        margin-right: 233px;
    }
}

@media screen and (max-width: 1760px) {
    .back-button {
        margin-left: 133px;
        margin-right: 133px;
    }
}

@media screen and (max-width: 1560px) {
    .back-button {
        margin-left: 33px;
        margin-right: 33px;
    }
}

@media screen and (max-width: 660px) {
    p {
        font-size: 16px;
        text-align: center;

        a {
            font-size: 16px;
        }
    }

    h1,
    h2 {
        font-size: 24px;
        text-align: center;
    }

    .back-button {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .imprint-content {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 50px;
    }
}