h1,
h2 {
    font-weight: 500;
    line-height: 64.8px;
    color: var(--secondary-text-color);
}

p {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding-bottom: 16px;

    span {
        color: var(--text-color) !important;

        a.adress-phone-email {
            color: var(--text-color) !important;
            text-decoration: none;
            transition: color 0.125s ease;

            &:hover {
                color: var(--secondary-text-color);
            }
        }
    }

    a {
        font-size: 30px;
        font-weight: 500;
        color: var(--secondary-text-color);
        transition: transform 0.125s ease, color 0.125s ease, padding 0.125s ease, border 0.125s ease;
        text-decoration: none;

        &:hover {
            transform: scale(1.1);
            color: var(--text-color);
            padding: 8px;
            border-radius: 10px;
            border: solid 1px var(--secondary-text-color);
        }
    }
}

.imprint-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    margin-top: 100px;
    padding: 20px;
    box-sizing: border-box;
    height: 62vh;
}

.back-button {
    margin-left: 333px;
    margin-right: 333px;
    margin-top: 20px;
    display: inline-block;
    font-weight: 500;
    color: var(--secondary-text-color);
    transition: transform 0.125s ease, color 0.125s ease, padding 0.125s ease, border 0.125s ease;
    text-decoration: none;
    padding: 4px 20px;
    border-radius: 10px;
    border: solid 1px var(--secondary-text-color);
    cursor: url('./../../assets/img/icons8-hand-cursor-30.png'), auto;

    span {
        cursor: url('./../../assets/img/icons8-hand-cursor-30.png'), auto;

        svg {
            cursor: url('./../../assets/img/icons8-hand-cursor-30.png'), auto;
        }
    }

    &:hover {
        transform: scale(1.1);
        color: var(--text-color);
        padding: 4px 20px;
        border-radius: 10px;
        border-color: var(--secondary-text-color);
    }
}


@import './imprint-page.component.media.scss';