<div class="back-button" (click)="goBack()">
    <span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 18l-6-6 6-6" stroke="var(--secondary-text-color)" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
        </svg></span>
</div>
<div class="imprint-content">
    <h1>{{ 'impressumTitle' | translate }}</h1>

    <p [innerHTML]="('address' | translate)"></p>

    <h2>{{ 'contactTitle' | translate }}</h2>
    <p>
        <span [innerHTML]="('phone' | translate)"></span><br />
        <span [innerHTML]="('email' | translate)"></span>
    </p>

    <p>{{'source-text' | translate}}:
        <a [href]="('source' | translate)" target="_blank" rel="noopener noreferrer">{{ 'source' | translate }}</a>
    </p>
</div>