/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    background-color: #120B35;
    color: #02F4BF;
    a{
        text-decoration: none;
    }
}