:root {
    --background-color: #120B35;
    --text-color: #02F4BF;
    --secondary-text-color: #E15544;
    --third-text-color: #02F4BF;
    --fourth-text-color: #0B042D;
    --border-color: #02F4BF;
}

* {
    margin: 0;
    padding: 0;    
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto Mono';
    border: none;

    a {
        text-decoration: none;
        cursor: url('./assets/img/icons8-cursor-50.png'), auto;
    }

    cursor: url('./assets/img/icons8-cursor-50.png'),
    auto;
}



body {
    overflow-x: hidden;
}

button,
a {
    cursor: url('./assets/img/icons8-hand-cursor-50.png'), auto;
}

#img-github-mobile,
#img-email-mobile {
    cursor: url('./assets/img/icons8-hand-cursor-50.png'), auto;
}

.form-checkbox label {
    cursor: url('./assets/img/icons8-hand-cursor-50.png'), auto;
}

.why-me-section-talk-button {

    button {
        cursor: url('./assets/img/icons8-hand-cursor-50.png'), auto;
    }
}

.app-content {
    width: 100%;
    margin: 0;
}

.page-wrapper {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: '#d1e5ff';
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--background-color), var(--text-color));
    border-radius: 10px;
}

@media (min-width: 1920px) {
    .app-content {
        max-width: 1920px;
        margin: 0 auto;
    }
}


/* roboto-mono-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 200;
    src: url('./assets/font/roboto-mono-v23-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-mono-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/font/roboto-mono-v23-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-mono-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/font/roboto-mono-v23-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-mono-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/font/roboto-mono-v23-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-mono-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/font/roboto-mono-v23-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-mono-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/font/roboto-mono-v23-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}