<div id="why-me-section" class="why-me-section">
    <div class="why-me-section-image">
        <img src="./../../assets/img/avatar.png" alt="Avatar">
    </div>
    <div class="why-me-section-infos">
        <div class="why-me-section-why-me-span">
            <span>Why me</span>
        </div>
        <div class="why-me-section-text-span">
            <span>
                I am motivated to continuously learn new technologies and develop myself. My ability to solve complex
                problems and my passion for programming make me a valuable member of your team.
            </span>
        </div>

        <div class="why-me-section-location">
            <span id="iam">I am </span>
            <div class="located-div">
                <div class="located-main-div">                    
                    <div id="located-div-image">
                    </div>
                    <div id="located-div-eclipse-image">
                    </div>
                </div>              
                <div class="why-me-section-location-spans">
                    <span class="locatedBerlin">located</span>
                    <span class="locatedBerlin">in Berlin</span>
                </div>
            </div>

        </div>

        <div class="why-me-section-relocation">
            <img src="./../../assets/img/Arrow 5.svg" alt="">
            <div class="relocate-div">
                <img id="relocate-image" src="./../../assets/img/relocate-icon.svg" alt="">
                <div class="why-me-section-relocation-spans">
                    <span>open to</span>
                    <span>relocate</span>
                </div>
            </div>


        </div>

        <div class="why-me-section-remote">
            <div class="remote-div">
                <div id="remote-image">

                </div>
                
                <div class="why-me-section-remote-spans">
                    <span>open to</span>
                    <span>work remote</span>
                </div>
            </div>

            <img src="./../../assets/img/Arrow 4.svg" alt="">
            <img src="./../../assets/img/Arrow 01.svg" alt="">
        </div>

        <div class="why-me-section-talk-button">
            <button (click)="navigateToContactMe()">Let's talk</button>
        </div>
    </div>
</div>