.why-me-section {
    display: flex;
    justify-content: space-between;
    margin-left: 333px;
    margin-right: 333px;
    height: 53vh;
}

.why-me-section-image img {
    width: auto;
    height: 452px;
}

.why-me-section-infos {
    display: flex;
    flex-direction: column;
    gap: 20px;    
    width: 62%;
}

.why-me-section-why-me-span span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 54px;
    font-weight: 500;
    line-height: 64.8px;
    color: #E15544;
}

.why-me-section-text-span span {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #02F4BF;
}

.why-me-section-location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;

    #iam {
        display: flex;
        align-items: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 57.6px;
        color: #E15544;
    }

    .locatedBerlin {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 400;
        line-height: 21.6px;
        color: #02F4BF;
    }
}

.why-me-section-relocation {
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    gap: 340px;
    span {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 400;
        line-height: 21.6px;
        color: #02F4BF;
    }
}

#relocate-image {
    transform: rotate(0deg);
    transition: transform 125ms ease-in-out;
}

.relocate-div:hover {

    #relocate-image {
        transform: rotate(12deg);
    }
}

.why-me-section-remote {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 130px;

    span {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-weight: 400;
        line-height: 21.6px;
        color: #02F4BF;
    }
}

.located-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.relocate-div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.remote-div {
    display: flex;
    align-items: end;
    gap: 10px;
    cursor: pointer;
}

.why-me-section-location-spans {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.why-me-section-relocation-spans {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.why-me-section-remote-spans {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.why-me-section-talk-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button {
        width: 200px;
        height: 65px;
        padding: 15px 30px;
        color: #0B042D;
        background-color: #02F4BF;
        font-size: 15px;
        line-height: 21.6px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        &:hover {
            transition: color 0.125s ease-in-out;
            color: #E15544;
        }
    }
}

.located-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#located-div-image {
    background-image: url('./../../assets/img/located-icon.svg');
    width: 33.31px;
    height: 41px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 125ms ease-in-out, width 125ms ease-in-out, height 125ms ease-in-out;
}

.located-div:hover {
    #located-div-image {
        background-image: url('./../../assets/img/located-icon-other.svg');
        width: 36px;
        height: 43px;
    }

    #located-div-eclipse-image {
        background-image: url('./../../assets/img/located-icon-other-eclipse.svg');
        width: 19px;
        height: 8px;
        background-size: cover;
        background-repeat: no-repeat;
    }

}

#remote-image {
    background-image: url('./../../assets/img/remote-icon.svg');
    width: 40px;
    height: 53px;
    padding-right: 22px;
    align-self: flex-start;
    background-size: cover;
    background-repeat: no-repeat;
}

.remote-div:hover #remote-image {
    background-image: url('./../../assets/img/remote-icon-other.svg');
    width: 34px;
    height: 58px;
    padding-right: 32px;
    transition: transform 125ms ease-in-out;
    transform: scale(1.05);
}

@import './why-me-section.component.media.scss';